/* tags */
a, p, h1, h2, h3  {
  color: white;
  padding: 0;
  margin: 0;
  padding:10px;
}
a:hover {
  color:#abd3ff;
}

h2 {
  padding:10px;
  padding-top:50px;
  font-family: 'Cinzel', cursive, sans-serif;
}

ul {
  list-style-type: none;
  margin: 0px;
  color:white;
  }

span {font-size:2em;}
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.7em;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }

header {
    background-color: var(--gray);
    padding: 0;
  }

main {
    margin: 0;
  }

.logo {
  font-family: 'Pacifico', cursive, sans-serif;
  position:absolute;
  left:0;

}

/* navigation */
.selected {
  color:red;
}
nav ul li {
  margin-left: 10px;
  margin-right: 10px;
  white-space: nowrap;
display:block;

}

.navigation {

  top:0;
  text-align: right;
  background-color: black;
  font-family: 'Cinzel', cursive, sans-serif;
}
#navigation-article{

  font-family: 'Cinzel', cursive, sans-serif;
  width:100%;
  height:100%;
  position:-webkit-sticky;
  position:sticky;
  top:-1px;
  overflow: hidden;
  z-index:4;
  background-color: rgba(164, 164, 164, 0.9);
text-align: center
}
/* Home picture */
.main-header {
  text-shadow: 0 0 20px black;
  background-image: url("../pic/barcelona.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 80vh;
  background-position: top;
  background-clip: 100px, 100px, 75px, 5px;
}
/* for uk */
  .main-header2 {
    text-shadow: 0 0 20px black;
    background-image: url("../pic/uk.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 80vh;
    background-position: center;
    background-clip: 100px, 100px, 75px, 5px;
}
.title {
  text-align:center;
  position:relative;
  top:40%

}
.page-title {

  text-align: center;
  text-shadow: 0px 0px 5px black;
  font-family: 'Cinzel', cursive, sans-serif;
  font-size:2em;
}

.info {
  background-color: var(--info);
}
/* Pictures + video */
.picture {
  background-image: url("../pic/plane.jpg");
  background-size: cover;
  background-position: right;
  min-height:350px;
  clear:both;
}

.picture1 {
  background-image: url("../pic/seller.jpg");
  background-size: cover;
  background-position: center;
  min-height:350px;
  width: 100%;
}

.rambla {
  background-image: url("../pic/rambla.jpg");
  background-size: cover;
    min-height:350px;
  width: 100%
}

.beach {
  background-image: url("../pic/beach.jpg");
  background-position: center;
  background-size: cover;
  min-height: 350px;
  width: 100%;
}

.eulalia {
  background-image: url("../pic/eulalia.jpg");
  background-position: center;
  background-size: cover;
  min-height: 350px;
  width: 100%;
}

.video {
  height:100%;
  width: 100%;
  min-height:350px;
  padding-left:0;
  padding-right:0;
}

/* Pictures */

footer .logo {
  position:static;
}

footer {
  background-color: var(--gray);
  padding: 50px;
  text-align: center;
}

/* bootstrap */
.container-fluid {
  width:100%;
  height:100%;
}
.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}
/* colors */
.blue {
  background-color: var(--blue);
}

.green {
  background-color: var(--green);
}

.bronze {
  background-color: #a99271;
}

/* styles for tablet */
@media (min-width: 768px) {
  nav ul li {
    display:inline; }
    .title { top:60%;}
  body {
    margin:50px;
    -webkit-box-shadow: 0px 0px 100px black;
    box-shadow: 10px black;
  }
  .logo {
    left:50px;
  }
  .main-header {
   text-shadow: 0px 0px 5px black;
   height: 120vh;
   -webkit-box-flex:wrap;
   -ms-flex:wrap;
  flex:wrap;
  }
}

/* styles for desktop */

@media (min-width: 992px) {

  nav ul li {
    display:inline; }
    .title { top:60%;}
  body{
    margin:100px;
    -webkit-box-shadow: 0px 0px 100px black;
            box-shadow: 10px black;
  }
  .logo {
    font-family: 'Pacifico', cursive, sans-serif;
    position:absolute;
    left:100px;
}
.main-header {
 text-shadow: 0px 0px 5px black;
 height: 120vh;
}
.center {
    display: table-cell;
    vertical-align: middle;
  }

}
}
